*{
    margin: 0%;
}
.header{
    height: 100px;
    width: 100%;
    background-color: aquamarine;
    text-align: center;
}
.header h1{
    color: black;
}
.content{
    height: 300px;
    width: 100%;
    background-color: rgb(26, 109, 81);
    text-align: center;  
}
.content h1{
    color: brown;
}
.footer{
    height: 100px;
    width: 100%;
    background-color: rgb(91, 43, 180);
    text-align: center;
}
.footer h1{
    color: chartreuse;
}