*{

    margin: 0%;
}
.menu{
    width: 33.3%;
    height: 600px;
    background-color: aqua;
    text-align: center;
    float: left;
}
.page{
    overflow: hidden;
    width: 66.6%;
    float: right;

}
.header{
    width: 66.6%;
    height: 100px;
    background-color: blue;
    
}.content{
    width: 66.6%;
    height: 400px;
    background-color: cornflowerblue;
}
.footer{
    width: 66.6%;
    height: 100px;
    background-color: darkgoldenrod;
}